@model StudentManagement.Models.Student
@{
    ViewData["Tittle"] = "Create Student";
}
<form asp-action="Create">
    <div class="form-group">
         <label> Name</label>
        <input asp-for="Name" class="form-control" /> 
    </div>
    <div class="form-group">
        <label>Email</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label>Enrollment Date</label>
        <input asp-for="EnrollmentDate" class="form-control" type="date" />
    </div>
    <button type="Submit" class="btn btn-primary">Save</button>
</form>